@model TestAspDotNet.Model.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Register</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <lable asp-for="Name">Name</lable>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <lable asp-for="EmailAddress">Email</lable>
                <input asp-for="EmailAddress" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>



                <lable asp-for="Password">Password</lable>
                <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <lable asp-for="PhoneNumber">PhoneNumber</lable>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                @if(string.IsNullOrEmpty(ViewBag.Error))
                {
                    <h4 class="text-danger">@ViewBag.Error</h4>
                }
                
                <button type="submit" value="Login" class="btn btn-primary">Register</button>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}