@model TestAspDotNet.Model.UserRole;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-success text-center">AddUpdate Role</h3>
            <form asp-controller="User" asp-action="AddUpdateRole" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <lable asp-for="Name">Name</lable>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <button type="submit"  class="btn btn-primary">Create Or Update</button>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}