@{
    ViewData["Title"] = "Home Page";
}



   
    

<div id="Hero" class="col-12 min-vh-100 text-center align-items-center d-flex">

    <div class="container ">
        <div class="col-12">
            <div>
                <h1 class=" herotext text-white ">
                    I'm <span style="color:
               #ffad33 ;">Ahmed Mushtaq</span>
                </h1>
                <h3 class="text-white py-3">I am undergratuate Student at Virtual University .</h3>
            </div>
            <div>
                <a href="https://github.com/AhmedMushtaq-GitHub" class="btn btn-primary me-2 px-4 py-2"><img src="/github.svg" width="30" alt=""> GIT-HUB</a>
                <a href="https://www.linkedin.com/in/ahmed-mushtaq-b9a246279/" class="btn btn-light ms-2 px-4 py-2"><img src="/linkedin1.svg" width="30" alt=""> LINKEDIN</a>
            </div>
        </div>
    </div>
</div>

<div class="col-12 min-vh-100 text-center align-items-center d-flex">

    <div class="container ">
        <div class="row gx-5 gy-3">
           <div >
               <img   src="/product-hero.png" width="70%" />
           </div>
            <div>
                <h3 class="  text-dark "> 
                    Loved by 15 million teams and individuals
                </h3>
                
            </div>
            <div class="d-flex justify-content-evenly align-items-center ps-5 ">
                <img  src="/asset 3.svg"/>
                <img class="ps-5" src="/asset 4.svg" />
                <img class="ps-5" src="/asset 5.svg" />
                <img class="ps-5" src="/asset 5.svg" />
                <img class="ps-5" src="/asset 6.svg" />
                <img class="" src="/asset 7.svg" />
                <img class="" src="/asset 4.svg" />
            </div>
        </div>
    </div>
</div>
<div class="col-12 min-vh-100  d-flex align-items-center">

    <div class="container ">
        <div class="row ">
            
                   
                <div class="col-6 mt-5" >
                <h1>
                        <span class="text-success">
                        Privacy
                        </span>
               
                    by default
                </h1>
                <h4 class="mt-5">
                    We believe that you should own and control all your personal information
                </h4>
                <p class="">
                    Feedly is a secure space where you can privately organize and research the topics and trends that matter to you
                    <br />
                    Feedly is funded by the community that uses it. This means we can focus on optimizing your time, instead of creating a feed that mines your attention.
                </p>
            </div>
            <div class="col-6">
                <img src="/asset 22.svg " />
            </div>
        </div>
    </div>
</div>